
/* Primera logitud de responsive */
@media(max-width:1470px){
    .menu > li a{
        font-size: 15px;
    }
    nav > h1 > a > img{
        width: 130px ;
        height: 70px;
    }
    .carrusel > #firstExp > h1{
        font-size: 60px;
    }
    .carrusel > #firstExp > h1 > span:first-child{
        font-size: 60px;
    }
    .carrusel > #firstExp > h1 > span:last-child{
        font-size: 28px;
    }
    #app21 > h1{
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        font-size: 18px;
    }
    
    /* Blog */

    .blog{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 2fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    .blog > div{
        grid-area: 1 / 1 / 2 / 2;
    }
    .blog > article:nth-child(2){
        grid-area: 2 / 1 / 3 / 2;
    }
    .blog > article:nth-child(3){
        grid-area: 3 / 1 / 4 / 2;
    }
    .blog > article:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
    }
    #a001 > div > p:first-child,
    #a002 > div p:first-child,
    #a003 > div p:first-child{
        font-size: 14px;
        padding-bottom: 10px;
    }
    #a001 > div > p:last-child,
    #a002 > div p:last-child,
    #a003 > div p:last-child{
        font-size: 14px;
    }
    #a001 > div a,
    #a002 > div a,
    #a003 > div a{
        font-size: 16px;
    }
    #a001 > div ,
    #a002 > div ,
    #a003 > div {
        line-height: 16px;
    }
    
}
@media(max-width:1235px){
    .conoce{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    .conoce > h1{
        grid-area: 1 / 1 / 2 / 2;
    }
    .conoce > article:nth-child(2){
        grid-area: 2 / 1 / 3 / 2;
    }
    .conoce > article:nth-child(3){
        grid-area: 3 / 1 / 4 / 2;
    }
    .conoce > article:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
    }
    .redes > ul:first-child{
        margin-left: 40px;
    }
    .redes > ul:last-child{
        margin-right: 40px;
    }
    nav > h1{
        margin-left: 40px;
    }
    nav > .menu{
        margin-right: 40px;
    }
    .submenu,
    .sstickymenu{
        right: 40px;
    }
}
@media (max-width:1400px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .galeria > a:nth-child(1){
        grid-area: 1 / 1 / 2 / 2;
    }
    .galeria > a:nth-child(2){
        grid-area: 1 / 2 / 2 / 3;
    }
    .galeria > a:nth-child(3){
        grid-area: 2 / 1 / 3 / 2;
    }
    .galeria > a:nth-child(4){
        grid-area: 2 / 2 / 3 / 3;
    }
    .galeria > a:nth-child(5){
        grid-area: 3 / 1 / 4 / 2;
    }
    .galeria > a:nth-child(6){
        grid-area: 3 / 2 / 4 / 3;
    }
    .galeria > a:nth-child(7){
        grid-area: 4 / 1 / 5 / 3;
    }
    footer{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 40px;
    }
    footer > h1,
    footer > div:nth-child(2),
    footer > div:nth-child(3),
    footer > div:nth-child(4),
    footer > p{
        margin: 0;
        padding: 0;
    }
    footer > h1{
        grid-area: 1 / 1 / 2 / 2;
        margin: auto;
    }
    footer > div:nth-child(2){
        grid-area: 1 / 2 / 2 / 3;
        margin: auto;
        font-size: 14px;
    }
    footer > div:nth-child(3){
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: auto;
    }
    footer > div:nth-child(4){
        grid-area: 2 / 2 / 3 / 3;
        font-size: 14px;
        margin: auto 0;
    }
    footer > p{
        grid-area: 3 / 1 / 4 / 3;
        margin: auto;
        font-size: 14px;
    }
    
}
@media (max-width:800px){
    .conoce{
        margin-bottom: 450px;
    }
    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .galeria > a:nth-child(1){
        grid-area: 1 / 1 / 2 / 2;
    }
    .galeria > a:nth-child(2){
        grid-area: 2 / 1 / 3 / 2;
    }
    .galeria > a:nth-child(3){
        grid-area: 3 / 1 / 4 / 2;
    }
    .galeria > a:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
    }
    .galeria > a:nth-child(5){
        grid-area: 5 / 1 / 6 / 2;
    }
    .galeria > a:nth-child(6){
        grid-area: 6 / 1 / 7 / 2;
    }
    .galeria > a:nth-child(7){
        grid-area: 7 / 1 / 8 / 2;
    }
    footer{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 20px;
    }
    footer > h1{
        grid-area: 1 / 1 / 2 / 2;
        margin:auto;
    }
    footer > div:nth-child(2){
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    footer > div:nth-child(3){
        grid-area: 3 / 1 / 4 / 2;
        text-align: center;
    }
    footer > div:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
        text-align: center;
    }
    footer > p{
        grid-area: 5 / 1 / 6 / 2;
        margin:auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Menu hamburguesa */
@media (max-width:900px){
    .carrusel{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 0.9fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        margin-top: 200px;
        height: auto;
    }
    .carrusel > #firstExp > h1{
        font-size: 40px;
    }
    .carrusel > #firstExp > h1 > span:first-child{
        font-size: 40px;
    }
    .carrusel > #firstExp > h1 > span:last-child{
        font-size: 24px;
    }
    #app21 > h1{
        font-size: 14px;
    }
    .redes{
        visibility: hidden;
    }
    nav{
        visibility: hidden;
        display: none;
    }
    .off-canvas > div > h1 > a > img{
        width: 90px ;
        height: 50px;
    }
    .off-canvas{
        display: flex;
        visibility: visible;
        opacity: 1;
        width: 100%;
	    overflow: hidden;
        top: 0;
        background: -moz-linear-gradient(45deg, #191919 0%, #222222 100%);
        background: linear-gradient(45deg, #191919 0%, #222222 100%);
        z-index: 4;
    }
    .off-canvas > .menu{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .off-canvas > span{
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width:700px){
    .carrusel{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 0.8fr);
        grid-column-gap: 0px;
        grid-row-gap: 70px;
        margin-top: 150px;
        height: auto;
    }
    .carrusel > #firstExp > h1{
        font-size: 20px;
    }
    .carrusel > #firstExp > h1 > span:first-child{
        font-size:20px;
    }
    .carrusel > #firstExp > h1 > span:last-child{
        font-size: 22px;
    }
    #app21 > h1{
        font-size: 12px;
    }
    /* Footer */
    footer > h1 > img{
        margin:auto;
        width: 120px;
        height: 80px;
    }
    footer > div:nth-child(2) > h2{
        font-size: 18px;
    }
    footer > div:nth-child(2) > p{
        font-size: 12px;
    }
    footer > div:nth-child(3) > h2{
        font-size: 18px;
    }
    footer > div:nth-child(3) > dl{
        font-size: 10px;
    }
    footer > div:nth-child(4) > ul > li{
        font-size: 12px;
    }
    footer > p{
        margin:auto;
        font-size: 12px;
    }
    .galeria > h1  a{
        font-size: 30px;
    }
    .gra{
        font-size: 35px;
    }
}

@media (max-width: 350px){
    .conoce{
        margin-bottom: 650px;
    }
}
