
@import url('https://fonts.googleapis.com/css?family=Vollkorn:700i&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-left: 80px;
    margin-right: 80px; */
}
a, li{
    list-style: none;
    text-decoration: none;
}
h1{
    margin: 0;
}

/* Redes sociales e idioma */
aside{
    position: absolute;
    width: 100%;
    background: #f6a219;
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside > ul:first-child, 
aside > ul:last-child{
    margin-right: 80px;
    margin-left: 80px;
}

/* Primer hijo */
aside > ul:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style:none;
}
aside > ul:first-child li{
    padding: 5px;
}
aside > ul:first-child > li > a > i{
    color: white;
}
/* Segundo hijo */
aside > ul:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}
aside > ul:last-child li{
    padding: 5px;
}
aside > ul:last-child > li > a{
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 18px;
}

/* Cabecera de la pagina */
header{
    background-image: url("../Img/foto.jpg");
    height: 100vh;
    padding-top: 5vh;
}
header > nav > h1{
    margin-left: 85px;
    text-align: center;
}
header > nav > .menu{
    margin-right: 73px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.menu {
    display: flex;
    flex-direction: row ;
}
.menu > li {
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    font-size: 24px;
    padding:8px 12px;
}
.menu > li > a{
    color: white;
}
.menu > li:first-child{
    border-radius: 3px;
    background-color: #f7931e;
}
.submenu{
    display: none;
}





/* Section conoce MAIN */

.conoce{
    background: brown;
}

.blog{
    background: burlywood;
}