

@font-face{
    font-family: 'Volkorn 700 Italic';
    src: url("../FONTS/Volkorn/Vollkorn-BoldItalic.ttf");
}
@font-face{
    font-family: 'Volkorn 900 Italic';
    src: url("../FONTS/Volkorn/Vollkorn-BlackItalic.ttf");
}
@font-face{
    font-family: 'Volkorn Semi-Bold';
    src: url("../FONTS/Volkorn/Vollkorn-SemiBold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-left: 80px;
    margin-right: 80px; */
}
a, li{
    list-style: none;
    text-decoration: none;
}
h1{
    margin: 0;
}
body{
    background-color: #f2f2f2;
}

/* Redes sociales e idioma */
aside{
    z-index: 1;
    position: absolute;
    width: 100%;
    background: #f6a219;
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside > ul:first-child, 
aside > ul:last-child{
    margin-right: 225px;
    margin-left: 225px;
}

/* Primer hijo */
aside > ul:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style:none;
}
aside > ul:first-child li{
    padding: 5px;
}
aside > ul:first-child > li > a > i{
    color: white;
}
/* Segundo hijo */
aside > ul:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}
aside > ul:last-child li{
    padding: 5px;
}
aside > ul:last-child > li > a{
    color: white;
    font-family: 'Volkorn 700 Italic', serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Cabecera de la pagina */
header{
    background-color: #f2f2f2;
    background-image: url("../Img/foto.jpg"), url("../Img/foto2.jpg"), url("../Img/foto.jpg");
    background-position: 0vw 0vh, 100vw 0vh, 100vw 0vh;
    background-repeat: no-repeat;
    background-size: cover;
    animation: anim 10s linear infinite;
    height: 100vh;
    padding-top: 5vh;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 99.9% 85%, 50% 99.9%, 0 85%);
}
.selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 220px;
}
.selector > span{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    margin: 5px;
}
.selector > span:nth-last-of-type(2){animation: sel 10s linear infinite}
.selector > span:nth-last-of-type(1){animation: sel 10s linear 5s infinite}
@keyframes anim{
    from{background-position: 0vw 0vh, 100vw 0vh, 100vw 0vh}
    40%{background-position: 0vw 0vh, 100vw 0vh, 100vw 0vh}

    60%{background-position: -100vw 0vh, 0vw 0vh, 100vw 0vh}
    80%{background-position: -100vw 0vh, 0vw 0vh, 100vw 0vh}

    to{background-position: -100vw 0vh, -100vw 0vh, 0vw 0vh}
}
@keyframes sel{
    from{background-color: rgba(255, 255, 255, 1);}
    40%{background-color: rgba(255, 255, 255, 1);}

    50%{background-color: rgba(255, 255, 255, 0);}
    to{background-color: rgba(255, 255, 255, 0);}
}

header > nav > h1{
    margin-left: 230px;
    text-align: center;
}
header > nav > .menu{
    margin-right: 218px; /*293*/
}
.borde{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100%;
    clip-path: polygon(50% 98%, 99.9% 83%, 99.9% 84%, 50% 99%, 0 84%, 0 83%);
    background-color: #f7931e;
    z-index: 1;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
nav > h1 > a > img{
    width: 180px ;
    height: 100px;
}


.menu {
    display: flex;
    flex-direction: row ;
}
.menu > li {
    font-family: 'Volkorn 700 Italic', serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 22px;
    padding:8px 12px;
}
.menu > li > a{
    color: white;
}
.menu > li:first-child:hover,
.menu > li:first-child:focus {
    background-color: rgb(255, 60, 0);
}
.menu > li:nth-child(1n+2) > a{
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.menu > li:nth-child(2) > a::before,
.menu > li:nth-child(3) > a::before,
.menu > li:nth-child(4) > a::before,
.menu > li:nth-child(5) > a::before{
    position: relative;
	top: 55%;
	left: 50%;
	color: transparent;
    content: '•';
    font-size: 1em;
	text-shadow: 0 0 transparent;   
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-10%);
	pointer-events: none;
}

.menu > li > a:hover::before,
.menu > li > a:focus::before{
    color: #f6a219;
	text-shadow: 10px 0 #f6a219, -10px 0 #f6a219;
}
.menu > li:nth-child(2) > a:hover,
.menu > li:nth-child(3) > a:hover,
.menu > li:nth-child(4) > a:hover,
.menu > li:nth-child(5) > a:hover,
.menu > li:nth-child(2) > a:focus,
.menu > li:nth-child(3) > a:focus,
.menu > li:nth-child(4) > a:focus,
.menu > li:nth-child(5) > a:focus{
    color: #f6a219;
}  

.menu > li:first-child{
    border-radius: 4px;
    background-color: #f7931e;
}
/* Menu deplegable */
.menu > li:last-child{
    display: block;
}
.menu > li:last-child > a{
    display: block;
    position: relative;
    line-height: 30px;
    margin-top: -4px;
    background-color: #f7931e;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.menu > li:last-child:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.menu > li:last-child > a:hover{
    transform: rotate(-90deg);
}
.icon-bar:first-child{
    left: 5px;
}
.icon-bar:nth-child(2){
    left: 50%;
    margin-left: -2px;
}
.icon-bar:nth-child(3){
    right: 5px;
}
.icon-bar{
    width: 4px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    margin-top: -2px;
    display: block;
}
.submenu{
    text-align: center;
    width: 250px;
    margin-top: 20px;
    right: 230px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    
}
.submenu > li:first-child,
.submenu > li:nth-child(2),
.submenu > li:nth-child(3),
.submenu > li:nth-child(4){
    border-bottom: 1px solid rgb(255, 150, 0);
}
.submenu > li:first-child{
    border-radius: 5px 5px 0px 0px;
}

.submenu > li:last-child{
    border-radius: 0px 0px 5px 5px;
}
.submenu > li{
    background-color: #f6a219;
    padding: 10px;
    
}

.submenu > li > a{
    color: white;
}

.submenu > li:hover,
.submenu > li:focus {
    background-color: rgb(255, 60, 0);
}

.displayver{
    opacity: 1;
    visibility: visible;
}
.displaynover{
    opacity: 0;
    visibility: hidden;
}


/* Carrusel  */

.carrusel > #firstExp{
    margin-left: 85px;
}
.carrusel > #firstExp > h1{
    font-family: 'Volkorn 900 Italic';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 90px;
    text-transform: uppercase;
    width: 1000px;
    color: white;
    text-align: right;
    margin-top: 150px;
    line-height: 1;
}
.carrusel > #firstExp > h1 > span:first-child::before,
.carrusel > #firstExp > h1 > span:last-child::before{
    content: '\A'; 
    white-space: pre-wrap;
    margin-left: 100px;
}
.carrusel > #firstExp > h1 > span:first-child{
    font-size: 90px;
    color: white;
    text-align: right;
}
.carrusel > #firstExp > h1 > span:last-child{
    color: #f7931e;
    font-size: 38px;
    text-align: right;
}
#app21{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
}
#app21 > h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Volkorn 700 Italic';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    color: black;
    background-color: #f7931e;
    padding:10px;
    border-radius: 5px;
}
#app21 > h1 > span::before {
    content: "\A";
    white-space: pre;
}
#app21 > h1:hover,
#app21 > h1:focus{
    background-color: rgb(255, 60, 0);
}

#app21 > h1 > span > a{
    color: white;
}

/* Flechas */

.elemento {
    display: flex;
    justify-content: center;
    height: 10px;
}
.animatedColor {
    color: white;
}
   
  .flecha {
     animation: arrow 1s ease-in-out infinite;
     font-size:20px !important;
       
  }
   
  .flecha:hover{
    animation:arrow 1s ease-out infinite !important;
    color:#f7931e !important;
    }
    .flecha2 {
        animation: arrow2 1s ease-in-out infinite;
        font-size:20px !important;
          
     }
      
     .flecha2:hover{
       animation:arrow2 1s ease-out infinite !important;
       color:#f7931e !important;
       }
@keyframes arrow {
    0% {
      transform: translate(0px, 50px);
    }
   
     50% {
      transform: translate(0px, 60px);
    }
    
    100% {
      transform: translate(0px, 50px);
    }
}
@keyframes arrow2 {
    0% {
      transform: translate(0px, 50px);
    }
   
    55% {
      transform: translate(0px, 60px);
    }
    
    100% {
      transform: translate(0px, 50px);
    }
}



/* Section conoce MAIN */

.conoce {
    margin-left: 225px;
    margin-right: 225px;
    background: #f2f2f2;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-column-gap: 50px;
    grid-row-gap: 200px;
    text-align: center; 
}
.conoce article{
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.conoce article:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.conoce > h1{
    font-family: 'Volkorn 900 Italic';
    font-size: 45px;
    margin-top: 90px;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}
.conoce > h1 > span{
    text-transform: uppercase;
}
.conoce > h1 > span::before{
    content: '\A';
    white-space: pre;
    
}
.linea{
    border-radius: 10px;
    margin-top: 25px;
    background-color: #f7931e;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:  5px;
    display: block;
}
.conoce > h1 > span::before{
    content: '\A'; 
    white-space: pre-wrap;
}
.conoce > article:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
}
.conoce > article:nth-child(3){
    grid-area: 2 / 2 / 3 / 3;
}
.conoce > article:nth-child(4){
    grid-area: 2 / 3 / 3 / 4;
}

/* Articulos (conoce) */

.conoce > article{
    position: relative;
    padding: 30px;
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(221, 221, 221, 0.5);
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); */
}
.conoce > article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.conoce > article a span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70px;
    width: 70px;
    line-height: 70px;
    top:0;
    left: 50%;
    border-radius: 50%;
    background: linear-gradient(45deg, #191919 0%, #434345 100%);
    background: -moz-linear-gradient(45deg, #191919 0%, #434345 100%);
    transform: translate(-50%, -50%);
}
.conoce > article a span i{
    font-size: 38px;
    color: white;
}
.conoce article h1{
    color: #f7931e;
    font-family: 'Volkorn 900 Italic';
    text-transform: uppercase;
    margin-bottom: 20px;
}
.conoce article p{
    color: black;
    font-family: 'Volkorn Semi-Bold';
}

/* BLOG */
.blog{
    margin-left: 225px;
    margin-right: 225px;
    height: 100vh;
    background: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
    grid-column-gap: 35px;
    grid-row-gap: 100px;
    margin-bottom: 200px;
}
.blog > div{
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}
.blog > div > h1{
    font-family: 'Volkorn 900 Italic';
    font-size: 45px;
    margin-top: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    padding-bottom: 20px;
    
}
.blog > div > p > span::before{
    content: '\A'; 
    white-space: pre-wrap;
}
.blog > div > p{
    font-size: 20px;
    font-family: 'Volkorn Semi-Bold';  
}
.blog > article:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
}
.blog > article:nth-child(3){
    grid-area: 2 / 2 / 3 / 3;
}
.blog > article:nth-child(4){
    grid-area: 2 / 3 / 3 / 4;
}

/* Blog - Articulos */
#a001 > a:nth-child(1){
    background-color: white;
    background-image: url("../Img/BLOG/Foto1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    width: 100%;
    display: block;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /* border:1px solid black ; */
}
#a002 > a:nth-child(1){
    background-color: white;
    background-image: url("../Img/BLOG/Foto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    width: 100%;
    display: block;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /* border:1px solid black ; */
}
#a003 > a:nth-child(1){
    background-color: white;
    background-image: url("../Img/BLOG/Foto3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    width: 100%;
    display: block;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /* border:1px solid black ; */
}
#a001 > div,
#a002 > div,
#a003 > div{
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    color: black;
    text-align: right;
    float: right;
    margin-top: -40px;
    width: 90%;
    padding: 1.6em;
}
#a001 > div:hover,
#a002 > div:hover,
#a003 > div:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#a001 > div > p:first-child,
#a002 > div p:first-child,
#a003 > div p:first-child{
    font-family: 'Volkorn Semi-Bold';
    font-size: 18px;
    color: #808080;
    padding-bottom: 30px;
}
#a001 > div > p:last-child,
#a002 > div p:last-child,
#a003 > div p:last-child{
    font-family: 'Volkorn Semi-Bold';
    font-size: 18px;
    color: #0071bc;
}
#a001 > div a:hover,
#a002 > div a:hover,
#a003 > div a:hover{
    color: #f7931e;
}
#a001 > div a,
#a002 > div a,
#a003 > div a{
    font-family: 'Volkorn 700 Italic';
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}



/* Galeria */
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: darkgoldenrod;
}
.galeria > a{
    height: 480px;
}
.galeria img{
    width: 100%;
    height: auto;
}
@supports(object-fit: cover){
    .galeria img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.galeria > h1{
    background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); 
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); 
    display: flex;
    font-family: 'Volkorn 900 Italic';
    font-size: 42px;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}
.galeria > h1 > a{
    color: white;
}
.subir::before{
    content: '\A';
    white-space: pre;
}
.gra{
    font-size: 55px;
}
.galeria > a:nth-child(1){
    grid-area: 1 / 1 / 2 / 2;
}
.galeria > a:nth-child(2){
    grid-area: 1 / 2 / 2 / 3;
}
.galeria > a:nth-child(3){
    grid-area: 1 / 3 / 2 / 4;
}
.galeria > a:nth-child(4){
    grid-area: 1 / 4 / 2 / 5;
}
.galeria > a:nth-child(5){
    grid-area: 2 / 1 / 3 / 2;
}
.galeria > a:nth-child(6){
    grid-area: 2 / 2 / 3 / 3;
}
.galeria > a:nth-child(7){
    grid-area: 2 / 3 / 3 / 5;
}

/* Footer  */
footer{
    display: grid;
    height: 60vh;
    padding: 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    background-color: #120f0f;
    font-family: 'Volkorn Semi-Bold';
}
footer > h1{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 205px;
}
footer > h1 > img{
    margin-top: 30px;
    width: 180px ;
    height: 100px;
}
footer > div:nth-child(2){
    margin-top: 30px;
    grid-area: 1 / 2 / 2 / 3;
    color: white;
}
footer > div:nth-child(2) > p{
    margin-top: 20px;
}
footer > div:nth-child(3){
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: 1 / 3 / 3 / 4;
    margin-right: 205px;
    color: white;
}
.separacion{
    margin-top: 20px;
}
.saltar::before{
    content: '\A';
    white-space: pre;
}
footer > div:nth-child(4){
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 205px;
}
footer > div:nth-child(4) > ul > li > a{
    color: #686868;
}
footer > div:nth-child(4) > ul > li > a:hover,
footer > div:nth-child(4) > ul > li > a:focus{
    color: yellow;
}
footer > p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    color: white;
}